<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a8034a0a-9734-4d91-85a4-2f91d8533270" name="Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a8034a0a-9734-4d91-85a4-2f91d8533270fileName">Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
