<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1dde4a7b-3b30-4203-b939-a7a5a393adb3" name="Test Suite OTA - 4331: Enable Logging through the UpdateJob" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d337b6e4-37f8-437c-b4db-3d2011cefaaefileName">Test-Suite-OTA---4331%3A-Enable-Logging-through-the-UpdateJob</con:setting>
    <con:setting id="1dde4a7b-3b30-4203-b939-a7a5a393adb3fileName">Test-Suite-OTA---4331%3A-Enable-Logging-through-the-UpdateJob</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>reCallActionCode</con:name>
      <con:value>R106</con:value>
    </con:property>
    <con:property>
      <con:name>criterion</con:name>
      <con:value>86</con:value>
    </con:property>
    <con:property>
      <con:name>changeMeasureCode</con:name>
      <con:value>CMC6277</con:value>
    </con:property>
    <con:property>
      <con:name>VIN_string</con:name>
      <con:value>"FAKEVIN1187923890"</con:value>
    </con:property>
    <con:property>
      <con:name>VIN</con:name>
      <con:value>FAKEVIN1187923890</con:value>
    </con:property>
    <con:property>
      <con:name>jsonBody</con:name>
      <con:value>{	  "vin" : "FAKEVIN1187923890",	  "mbv_model_code" : "4N803A",	  "mbt_model_code" : "4N42",	  "brand_code" : "A",	  "pkn" : "964854911",	  "delivering_dealer" : "125",	  "supervising_dealer" : "CHN79601076",	  "ordering_dealer" : "CHN79601061",	  "equipment_codes" : ["0K0"],	  "model_year" : 2021,	  "model_name" : "Q7",	  "oru_relevant": true,       "oru_relevant_date": "2022-04-12T09:28:21.363Z",       "update_status": "CUSTOMER_NOTIFIED"	}</con:value>
    </con:property>
    <con:property>
      <con:name>odxName</con:name>
      <con:value>FL_YLTDLW7M9_T343_TEST.odx-f</con:value>
    </con:property>
    <con:property>
      <con:name>oucName1</con:name>
      <con:value>FL_YLTDLW7M9_T343_TEST.ouc</con:value>
    </con:property>
    <con:property>
      <con:name>binName1</con:name>
      <con:value>d50a57510483d8270e70158a6dafc2bd.bin</con:value>
    </con:property>
    <con:property>
      <con:name>binName2</con:name>
      <con:value>f174b1d1dd5e40a1f36cd7aa3f2f418e.bin</con:value>
    </con:property>
    <con:property>
      <con:name>vcHash</con:name>
      <con:value>23AF08AB1F9B20C208D351763E86C240E59A7598CEEA13497DCB838E7E0D3700</con:value>
    </con:property>
    <con:property>
      <con:name>VC_path</con:name>
      <con:value>file:C:\Users\U3635\Documents\VirtualVehicle\orunext-backend\Templates\VehicleConfiguration.json</con:value>
    </con:property>
    <con:property>
      <con:name>VM_path</con:name>
      <con:value>file:C:\Users\U3635\Documents\VirtualVehicle\orunext-backend\Templates\VehicleManifest.json</con:value>
    </con:property>
  </con:properties>
  <con:tearDownScript/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="19d15dbe-9720-4a73-b417-71308b8db01e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>659df005-87df-4e8a-b752-5563adbf016d</con:tagId>
</con:testSuite>
